#container {
    border: 2px solid black;
    height: 953px;
    width: 960px;
    display: flex;
    flex-flow: row wrap;
    margin: 2px;
}

.grid {
    border: 1px solid black;
    flex-grow: 1;
    background-color: white;
}

button {
    width: 200px;
    height: 100px;
    font-size: 20px;
    align-self: center;
}

#content {
    display: flex;
    justify-content: space-evenly;
    margin: -10px;
    background-color: gray;
}